@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100vh;
}

body {
    font-family: "Anonymous Pro", sans-serif;
    background: #F1F1F1;
    color: #121723;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

/* ------------------------- */

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader_information h3 {
    font-size: 40px;
}

.loader_information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.circle {
    content: '';
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: rgb(255, 130, 130);
    border-radius: 50%;
    animation: loading 1s ease infinite;
}

@keyframes loading {
    from {transform: rotate(0turn);}
    to {transform: rotate(1turn);}
}

/* ------------------------- */

/* Styles for pop-up window */
.modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    pointer-events: none;
    -webkit-transition: opacity 300ms ease-in; 
    -moz-transition: opacity 300ms ease-in;
    transition: opacity 300ms ease-in;
    z-index: 1;
    opacity: 0;
}

.modal:target {
    opacity: 1;
	pointer-events: auto;
}

.modal__dialog {
    position: relative;
    width: 600px;
    margin: 10px;
}

.modal__content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 20px;
    background-color: #fff;
    border-radius: 10px;
}

.modal__title {
    font-size: 22px;
    font-weight: 500;
}

.close {
    font-size: 28px;
    font-weight: 700;
    text-shadow: 0 1px 0 #fff;
    text-decoration: none;
    opacity: .5;
    transition: 0.5s;
}

.close:focus, .close:hover {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}

/* Styles for theme change design */
.theme {
    animation-name: slide;
    animation-duration: 1.5s;
    animation-delay: 1.5s;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.theme svg {
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.theme:active {
    transform: scale(1.1);
}

/* Header/footer styles */
header {
    background-color: white;
    border-bottom: 1px solid #A1A6B4;
    padding: 24px 0;
    margin-bottom: 32px;
}

.navbar, .footer__nav{
    display: flex;
    gap: 24px;
}

.navbar a,
.footer__nav a {
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
    color: #121723;
    transition: 0.3s;
}

.navbar a:hover,
.footer__nav a:hover {
    color: #f8a437;
}

li {
    list-style: none;
}

/* Styles of the section with cards */
.content {
    width: 100%;
    max-width: 1305px;
    margin: 0px auto;
}

.flex-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.content__title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 32px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 24px;
}

.card__link {
    text-decoration: none;
    color: #121723;
    height: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    max-width: 500px;
    height: 100%;
    transition: 0.5s;
}

.card__animation {
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.card__image {
    width: 100%;
    height: 254px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.card__description {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 12px;
    background-color: white;
    border-radius: 0px 0px 12px 12px;
    padding: 32px 24px;
    width: 371px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 30px 20px -7px;
    border-radius: 0px 0px 12px 12px;
}

.card__name {
    font-size: 26px;
    font-weight: 700;
}

.card__information {
    font-size: 20px;
    font-weight: 400;
}

/* Footer styles */
footer {
    padding: 32px 0px 24px 0px;
    background-color: #121723;
    margin-top: 32px;
}

.footer__nav a {
    color: #FAFAFA;
}

.line {
    width: 100%;
    height: 1px;
    margin: 32px 0px 24px 0px;
    background: rgba(230, 232, 236, 0.40);
}

.footer_paragraph {
    color: #A1A6B4;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    line-height: normal;
}

@keyframes slide {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
                opacity: 1;
    }
}

/* Additional animation of the glare on the cards */

.card__animation::before {
    content:'';
    opacity: 1;
    transform-origin: center center;
    position: absolute;
    z-index: 10;
    animation-delay: 0.5s;
    animation-name: mask-animation;
    animation-duration: 1.5s;
}

.card__animation::after {
    content: '';
    width: 600px;
    height: 50px;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.5);
    filter: blur(20px);
    transform-origin: center center;
    position: absolute;
    z-index: 2s;
    animation-delay: 3s;
    animation-name: mask-border-animation;
    animation-duration: 1.5s;
}

@keyframes mask-animation {
    0% {
      transform: rotate(-36deg) translate(-40px, -430px);
    }
  
    70%,
    100% {
      transform: rotate(-36deg) translate(-40px, 378px);
    }
}

@keyframes mask-border-animation {
    0% {
      opacity: 0.8;
      transform: rotate(-36deg) translate(-126px, -190px);
    }
  
    70%,
    100% {
      opacity: 0.8;
      transform: rotate(-36deg) translate(-170px, 430px);
    }
}

/* The most miserable adaptive layout :3 */

@media screen and (min-width: 1080px) and (max-width: 1465px) {

    * {
        box-sizing: border-box;
    }

    .navbar a,
    .footer__nav a {
        font-size: 20px;
    }

    .navbar, .footer__nav{
        gap: 18px;
    }
    
    .content__title {
        font-size: 38px;
    }

    .content {
        max-width: 920px;
    }

    .card {
        width: 290px;
    }

    .card__image {
        height: 170px;
    }
    
    .card__description {
        width: 100%;
    }

    .card__name {
        font-size: 24px;
    }
    
    .card__information {
        font-size: 18px;
    }

    .footer_paragraph {
        font-size: 16px;
    }

    .loader {
        text-align: center;
    }

    .loader img {
        max-width: 650px;
    }

    .loader_information h3 {
        font-size: 32px;
    }

}

/* Mobile version corresponding to layout */

@media screen and (max-width: 1079px) {

    * {
        box-sizing: border-box;
    }
    
    header .flex-content {
        flex-direction: column;
        gap: 24px;
    }

    .navbar a,
    .footer__nav a {
        font-size: 20px;
    }

    .content {
        max-width: 341px;
    }

    .content__title {
        font-size: 32px;
    }

    .card {
        max-width: 400px;
    }

    .card__image {
        height: 220px;
    }
    
    .card__description {
        width: 341px;
    }
    
    .footer_paragraph {
        font-size: 12px;
    }

    footer .flex-content {
        flex-direction: column;
        gap: 32px;
    }

    .line {
        margin: 24px 0px;
    }

    .loader {
        flex-direction: column;
        text-align: center;
    }

    .loader img {
        max-width: 300px;
    }

    .loader_information h3 {
        font-size: 26px;
    }

}
